// @font-face { 
// 	font-family: 'Web font';       /* название одно */ 
// 	src: url('webfont8321.woff2'); /* разные файлы */ 
// 	font-weight: 400;              /* разная плотность */ 
// 	font-style: normal; 
// } 

// @font-face { 
// 	font-family: 'Web font';       /* название одно */ 
// 	src: url('webfont___1.woff2'); /* разные файлы */ 
// 	font-weight: 700;              /* разная плотность */ 
// 	font-style: normal; 
// }

@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400i,700,700i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Yeseva+One&subset=cyrillic,cyrillic-ext,latin-ext');

body{
	min-width: 1600px;
	position: relative;
	font-family: 'Gentium Book Basic', serif;
	font-family: 'Yeseva One', cursive;
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;
}


.container{
	width: 1250px;
	margin: 0 auto;
}

.decoration{
	width: 247px;
	height: 24px;
}

.decoration__top{
	width: 232px;
	height: 43px;
}

.header{
	width: 1600px;
	height: 750px;
	background-image: url("../img/header/bg.png");
	display: flex;
	justify-content: space-between;
}

 .nav{
 	margin-top: 50px;
 	margin-left: 235px;
 }

.nav__link{
	color: #ffffff;
	font-family: "Gentium Book Basic";
	font-size: 21px;
	font-weight: 700;
	margin-left: 30px;
	justify-content: center;
}

.logo{
	width: 128px;
	height: 92px;
	
}

.social__header{
	display: flex;
	justify-content: space-between;
	margin-left: 18px;
	margin-top: 50px;
}

.social__item {
	width: 21px;
	height: 21px;
	margin-left: 16px;
	background-color: red;
}

.social__item:first-child{
	margin-left: 0;
}

.logo_nav_social{
	display: flex;
}

.home{
	position: absolute;
	top: 235px;
    text-align: center;
	margin-left: 140px;
}

.h1__home{
	margin-left: 0px;
	letter-spacing: -5px;
}


.decoration-white{
	background-image: url("../img/header/decoration.png");
	margin-left: 510px;
	margin-top: 25px;
	margin-bottom: 33px;
}

.button{
	width: 228px;
	height: 57px;
}

.button-wrapper{
	text-align: center;
	display: flex;
	justify-content: center;
}

.button--dark{
	border: 1px solid #000000;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0.8;
	padding: 22px 52px;
	color: #ffffff;
	font-family: Lato;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	margin-right: 30px;
	display: flex;
	align-items: center;
}

.button--light{
	border: 1px solid #ffffff;
	background-color: rgba(255, 255, 255, 0.28);
	opacity: 0.7;
	padding: 22px 52px;
	color: #ffffff;
	font-family: Lato;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	display: flex;
	align-items: center;
}

.right-food{
	width: 1600px;
	height: 710px;
	padding-top: 100px;
	background: url("../img/right_food/background.png");
	1, 1, 1, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
}

.h2--gold{
	color: #cc9900;
	font-family: "Yeseva One";
	font-size: 36px;
	font-weight: 400;
	line-height: 24px;
}

.decoration--yellow{
	margin-top: 16px;
	background: url("../img/right_food/decoration.png");
}

.quote{
	width: 409px;
	height: 111px;
	color: #4c4c4c;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	margin-top: 27px;
}

.right-food__wrapper{
	display: flex;
	justify-content: center;
}

.quote-author{
	text-align: center;
	margin-top: 52px;
}

.ingredients{
	width: 1600px;
	height: 758px;
	background: url("../img/flower/bg.png");
	padding-top: 100px;
}

.ingredients__info{
	margin-left: 640px;
	width: 570px;
	height: 557px;
	border: 1px solid #fbf7c0;
	background-color: #000000;
	opacity: 0.67;
}

.h2--white{
	color: #ffffff;
	font-family: "Yeseva One";
	font-size: 36px;
	font-weight: 400;
	text-align: center;
	margin-top: 80px;
}

.decoration__for_ingridients{
	background: url("../img/flower/decoration.png");
	margin: 20px auto 55px auto ;
}

.p{
	width: 409px;
	height: 111px;
	color: #ffffff;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	margin: 0 auto;
}


.menu{
	padding-top: 100px;
	padding-bottom: 100px;
	background: url('../img/price/background.png') no-repeat;
}

.menu .container{
	display: flex;
	justify-content: space-around;

}

 .menu__block-left{
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.menu__block-right{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu__block{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu__name{
	font-weight: 400;
	line-height: 24px;
	color: #c89f2d;
	font-family: "Yeseva One";
	font-size: 21px;
}

.menu__price{
	font-weight: 400;
	line-height: 24px;
	color: #c89f2d;
	font-family: "Yeseva One";
	font-size: 21px;
}

.menu__title{
	display: flex;
	justify-content: space-between;
}

.menu__list{
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.reviews{
	width: 100%;
	min-height: 760px;
	background: url('../img/barbecue/bg.png') no-repeat;
}

.reviews .container{
	padding: 100px 415px;	
}


.reviews__info{
	width: 770px;
	height: 560px;
	border: 1px solid #fbf7c0;
	background-color: #000000;
	opacity: 0.8;
}

.reviews__quote{
	line-height: 45px;
	color: #dde0df;
	font-family: "Gentium Book Basic";
	font-size: 25px;
	font-weight: 700;
	color: #ffffff;
	font-family: Lato;
	font-size: 18px;
	font-weight: 400;
}