// @font-face { 
// 	font-family: 'Web font';       /* название одно */ 
// 	src: url('webfont8321.woff2'); /* разные файлы */ 
// 	font-weight: 400;              /* разная плотность */ 
// 	font-style: normal; 
// } 

// @font-face { 
// 	font-family: 'Web font';       /* название одно */ 
// 	src: url('webfont___1.woff2'); /* разные файлы */ 
// 	font-weight: 700;              /* разная плотность */ 
// 	font-style: normal; 
// }

@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:700|Geo|Lato|Open+Sans:400,400i,700|Yeseva+One');

body{
	min-width: 1170px;
	position: relative;
	font-family: 'Open Sans', sans-serif;
}


.container{
	width: 1170px;
	margin: 0 auto;
}
.container--big{
	width: 1210px;
}
.decoration{
	display: flex;
	justify-content: center;
}

.home{
	width: 100%;
	height: 100vh;
	background-image: url("../img/header/bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.home .decoration{
	margin: 34px 0;
}
.h1--center{
	text-align: center;
}
.home .container{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header{
	width: 100%;
	height: 110px;
	position: absolute;
	top: 0;
	left: 0;
}

.header .container{
	display: flex;
	align-items: center;
}

.nav{
	display: flex;
}

.nav__link{
	display: block;
	padding: 0 20px;
	color: #ffffff;
	font-family: 'Gentium Book Basic', serif;
	font-size: 21px;
	font-weight: 700;
	transition: opacity 0.25s linear;
}

.nav__link:hover{
	opacity: 0.5;
}

.logo{
	margin-right: auto;
}

.social__item {
	width: 21px;
	height: 21px;
	margin-left: 16px;
	background-color: red;
}

.social__item:first-child{
	margin-left: 0;
}



.button{
	height: 57px;
	text-align: center;
	line-height: 57px;
	vertical-align: middle;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 0 50px;
	transition: opacity .25s linear;
}
.button:hover{
	opacity: .7;
}
.home .button--dark{
	margin-right: 30px;
}

.button-wrapper{
	text-align: center;
	display: flex;
	justify-content: center;
}

.button--dark{
	border: 1px solid #000000;
	background-color: rgba(0, 0, 0, 0.7);
}

.button--light{
	border: 1px solid #ffffff;
	background-color: rgba(255, 255, 255, 0.28);
}

.right-food{
	padding: 55px 0 30px;
	box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
	background-image: linear-gradient(-43deg, rgba(1, 1, 1, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%), url("../img/right_food/bg-2.png");
	background-size: cover;
}

.h2--gold{
	color: #cc9900;
}


.quote{
	color: #4c4c4c;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.right-food .quote{
	text-align: center;
	max-width: 410px;
	margin-top: 30px;
	margin-bottom: 50px;
}
.right-food .decoration{
	margin-top: 15px;
}
.right-food__wrapper{
	display: flex;
	justify-content: center;
}

.right-food .quote-author{
	margin-top: 52px;
	text-align: center;
}

.right-food__col-right{
	margin-left: 25px;
}
.ingredients{
	background-image: url("../img/flower/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 100px 0;
}
.ingredients .container{
	display: flex;
}
.ingredients__info{
	margin-left: auto;
	max-width: 570px;
	border: 1px solid #fbf7c0;
	background-color: #000000;
	opacity: 0.67;
	padding: 80px 70px;
}

.ingredients__info .p{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 70px;
}
.ingredients__info .decoration{
	margin-top: 16px;
}

.ingredients__list{
	display: flex;
	justify-content: space-between;
}
.ingredients__item{
	width: 110px;
	height: 110px;
	border: 5px solid rgba(255, 255, 255, 0.09);
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.ingredients__item--cereals{
	background-image: url("../img/flower/cereals.png");
}

.ingredients__item--image-orange{
	background-image: url("../img/flower/image-orange.png");
}

.ingredients__item--bread{
	background-image: url("../img/flower/bread.png");
}
.menu{
	padding: 30px 0 100px;
	background-image: url('../img/price/bg2.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.menu .container{
	display: flex;
	justify-content: space-between;

}
.menu .decoration{
	margin-top: 16px;
}

.menu__block-left, .menu__block-right{
	width: calc(50% - 85px);
}
.p--dark{
	color: #4c4c4c;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.menu__name{
	font-weight: 400;
	line-height: 24px;
	color: #c89f2d;
	font-family: 'Yeseva One', cursive;
	font-size: 21px;
}

.menu__price{
	font-weight: 400;
	line-height: 24px;
	color: #c89f2d;
	font-family: "Yeseva One";
	font-size: 21px;
}

.menu__block{
	margin-top: 70px;
}

.menu__title{
	padding-bottom: 12px;
	margin-bottom: 12px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(200, 159, 45, .5);
}

.menu__item{
	margin-top: 35px;
}

.reviews{
	width: 100%;
	background-image: url('../img/barbecue/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.reviews{
	padding: 100px 0;	
}
.reviews .container{
	display: flex;
	justify-content: center;
}

.reviews__info{
	border: 1px solid #fbf7c0;
	background-color: rgba(0, 0, 0, .7);
	padding: 82px 74px 103px;
	max-width: 770px;
}

.reviews__quote{
	line-height: 45px;
	color: #dde0df;
	font-family: 'Gentium Book Basic', serif;
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	position: relative;
}

.reviews__quote::before{
	content: '“';
	color: rgba(242, 244, 244, 0.47);
	font-family: Georgia;
	font-size: 96px;
	font-weight: 400;
	line-height: 45px;
	position: absolute;
	top: 17px;
	left: -39px;
}

.cite{
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	margin: 0 auto;
	display: block;
}

.reviews .decoration{
	margin-top: 23px;
	margin-bottom: 30px;
}

.reviews .cite{
	margin-top: 30px;
}